@model Sofware_semester_2_Car4Rent.Models.AutoViewModel

@{
    ViewData["Title"] = "AutoToevoegen";
}

<h1>AutoToevoegen</h1>

<h4>AutoViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AutoToevoegen">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Merk" class="control-label"></label>
                <input asp-for="Merk" class="form-control" />
                <span asp-validation-for="Merk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <input asp-for="type" class="form-control" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kenteken" class="control-label"></label>
                <input asp-for="Kenteken" class="form-control" />
                <span asp-validation-for="Kenteken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bouwjaar" class="control-label"></label>
                <input asp-for="bouwjaar" class="form-control" />
                <span asp-validation-for="bouwjaar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KM_stand" class="control-label"></label>
                <input asp-for="KM_stand" class="form-control" />
                <span asp-validation-for="KM_stand" class="text-danger"></span>
            </div>

            <select class="form-control" id="Brandstof" name="Brandstof">
                <label asp-for="Brandstof" class="control-label"></label>
                <option>Kies brandstof</option>
                <option>Benzine</option>
                <option>Diesel</option>
                <option>Elektrisch</option>
                <option>Gas</option>
                <span asp-validation-for="Brandstof" class="text-danger"></span>
            </select>
            <select class="form-control" id="Versnellingsbak" name="Versnellingsbak">
                <label asp-for="Versnellingsbak" class="control-label"></label>
                <option>Kies Versnellingsbak</option>
                <option>Handmatig</option>
                <option>Automatisch</option>
                <option>Semi-Automatisch</option>
                <span asp-validation-for="Versnellingsbak" class="text-danger"></span>
            </select>
            <select class="form-control" id="Zitplaatsen" name="Zitplaatsen">
                <label asp-for="Zitplaatsen" class="control-label"></label>
                <option>Kies Aantal zitplaaten</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <span asp-validation-for="Zitplaatsen" text-danger"></span>
            </select>
            <div class="form-group">
                <label asp-for="url" class="control-label"></label>
                <input asp-for="url" class="form-control" />
                <span asp-validation-for="url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prijs" class="control-label"></label>
                <input asp-for="prijs" class="form-control" />
                <span asp-validation-for="prijs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
