@model Sofware_semester_2_Car4Rent.Models.AutoViewModel

@{
    ViewData["Title"] = "UpdateAuto";
}

<h1>UpdateAuto</h1>

<h4>AutoViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateAuto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" visibility="hidden">
                <label asp-for="AutoID" class="control-label"></label>
                <input asp-for="AutoID" class="form-control" readonly />
                <span asp-validation-for="AutoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Merk" class="control-label"></label>
                <input asp-for="Merk" class="form-control" />
                <span asp-validation-for="Merk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <input asp-for="type" class="form-control" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kenteken" class="control-label"></label>
                <input asp-for="Kenteken" class="form-control" />
                <span asp-validation-for="Kenteken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bouwjaar" class="control-label"></label>
                <input asp-for="bouwjaar" class="form-control" />
                <span asp-validation-for="bouwjaar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KM_stand" class="control-label"></label>
                <input asp-for="KM_stand" class="form-control" />
                <span asp-validation-for="KM_stand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brandstof" class="control-label"></label>
                <input asp-for="Brandstof" class="form-control" />
                <span asp-validation-for="Brandstof" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zitplaatsen" class="control-label"></label>
                <input asp-for="Zitplaatsen" class="form-control" />
                <span asp-validation-for="Zitplaatsen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Versnellingsbak" class="control-label"></label>
                <input asp-for="Versnellingsbak" class="form-control" />
                <span asp-validation-for="Versnellingsbak" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="url" class="control-label"></label>
                <input asp-for="url" class="form-control" />
                <span asp-validation-for="url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prijs" class="control-label"></label>
                <input asp-for="prijs" class="form-control" />
                <span asp-validation-for="prijs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
