@model Sofware_semester_2_Car4Rent.Models.BoekingViewModel

@{
    ViewData["Title"] = "UpdateBoeking";
}

<h1>UpdateBoeking</h1>

<h4>BoekingViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateBoeking">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutoID" class="control-label"></label>
                <input asp-for="AutoID" class="form-control" />
                <span asp-validation-for="AutoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HuurderID" class="control-label"></label>
                <input asp-for="HuurderID" class="form-control" />
                <span asp-validation-for="HuurderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Merk" class="control-label"></label>
                <input asp-for="Merk" class="form-control" />
                <span asp-validation-for="Merk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="begindatum" class="control-label"></label>
                <input asp-for="begindatum" class="form-control" />
                <span asp-validation-for="begindatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="einddatum" class="control-label"></label>
                <input asp-for="einddatum" class="form-control" />
                <span asp-validation-for="einddatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoekingDatum" class="control-label"></label>
                <input asp-for="BoekingDatum" class="form-control" />
                <span asp-validation-for="BoekingDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prijs" class="control-label"></label>
                <input asp-for="prijs" class="form-control" />
                <span asp-validation-for="prijs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
